.addCommentContainer {
  background-color: #F1F4F8;
  border-radius: 20px;
  display: flex;
  margin-top: 25px;
  padding: 10px 20px;
  align-items: center;
}

.commentInputClickable {
  background-color: #F1F4F8;
  border: none;
  margin-left: 15px;
  width: 100%;
}

.commentInputEditable {
  background-color: #F1F4F8;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  color: black;
  padding: 10px;
}

.commentInputEditable:focus .commentInputEditable:focus-visible {
  border: none;
  border-bottom: 1px solid gray;
}

.postCommentButton {
  color: #006CFA;
  cursor: pointer;
}
