.metaDataContainer {
  display: flex;
  font-weight: 400;
  color: #12151D;
  margin-left: 5px;
}

.dataItem, .dataItemClickable {
  margin-right: 10px;
}

.dataItemClickable {
  cursor: pointer;
}

.dataIcon {
  margin-right: 3px;
}

.dataNumber {
  font-weight: 700;
  margin-right: 5px;
}